[user]
	name = Johnny
	email = 77713194+xJohnnyrl@users.noreply.github.com
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
[fetch]
	prune = true
[rebase]
	autoStash = true
[help]
	autocorrect = 20
